<div class="page-indicator">{{ title }}</div>
<div class="post" id="post-{{post._id}}">
  <form method="post" action="/posts/{{post._id}}/edit">
    <label for="title" class="required">Name</label>
    <input name="title" type="text" value="{{post.title}}" id="title" required>

    <label for="content" class="required">Content</label>
    <textarea name="content" id="content" required>{{{ post.content }}}</textarea>

    <label for="type" class="required">Type</label>
    <select id="type" name="type">
      <option value="blog"
        {{#if_string post.type 'blog'}}selected{{/if_string}}>blog</option>
      <option value="link"
        {{#if_string post.type 'link'}}selected{{/if_string}}>link</option>
      <option value="page"
        {{#if_string post.type 'page'}}selected{{/if_string}}>page</option>
      <option value="project"
        {{#if_string post.type 'project'}}selected{{/if_string}}>project</option>
    </select>

    <div class="extra">
      <label for="_id">ID</label>
      <input name="_id" type="text" value="{{post._id}}" id="_id" readonly disabled>

      <label for="imageUrl">Image Url</label>
      <input name="imageUrl" type="text" value="{{post.imageUrl}}" id="imageUrl">

      <label for="postUrl">Post Url</label>
      <input name="postUrl" type="text" value="{{post.postUrl}}" id="postUrl">

      <label for="tags">Tags</label>
      <input name="tags" type="text" value="" id="tags">
    </div>

    <input type="submit" value="Submit">
  </form>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
  var simplemde = new SimpleMDE();
</script>