<article class="post" id="post-{{post._id}}" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name headline">{{post.title}}</h1>
  <div itemprop="author publisher" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="{{ settings.authorName }}" />
  </div>
  <meta itemprop="image" content="{{ imageUrl }}">
  <meta itemprop="dateModified" content="{{ post.updatedAt }}">

  <!-- Metadata -->
  <div class="row">
    <div class="column" itemprop="articleSection">
      {{> type type=post.type }}
    </div>
    <div class="column" itemprop="datePublished">
      {{> date date=post.date }}
    </div>
    <div class="column" itemprop="keywords">
      {{> tags tags=post.tags }}
    </div>
  </div>

  {{> share post=post }}

  {{#if post.imageUrl}}
    <div class="post-image"><img src="{{ post.imageUrl }}"></div>
  {{/if}}

  <div class="row signup">
    <div class="column">
      <p>Like what you see? Sign up for my Weekly Tech Leadership Newsletter:</p>
      {{> signup }}
    </div>
  </div>

  <div class="post-content" itemprop="articleBody mainEntityOfPage">
    {{{ post.content }}}
  </div>


  {{#if_string post.type 'link' }}
  <div class="row link-button">
    <div class="column">
      <a href="{{ post.postUrl }}" class="button">
        <i class="icons icon-book-open"></i> Read More
      </a>
    </div>
  </div>
  {{/if_string}}

  {{#if_string post.type 'blog' }}
  <div class="row signup">
    <div class="column">
      <p>Sign up to get the best Tech Leadership blog posts delivered to your inbox every week:</p>
      {{> signup }}
    </div>
  </div>
  {{/if_string}}

  {{#if_string post.type 'project' }}
  <div class="row signup">
    <div class="column">
      <p>Get interesting new projects sent to your inbox with the Tech Leadership newsletter:</p>
      {{> signup }}
    </div>
  </div>
  {{/if_string}}

  {{#if post.relatedPosts}}
  <h4>Similar Posts</h4>
  <div class="row">
    {{#each post.relatedPosts}}
      <div class="column">
        <a href="/posts/{{this._id}}">{{this.title}}</a>
        <a href="/posts/{{this._id}}"><img src="{{ this.imageUrl }}" alt="{{this.title}}"/></a>
      </div>
    {{/each}}
  </div>
  {{/if}}

</article>
