<div class="post">
  <h1>{{post.title}}</h1>
  <p>Type: <a href="/types/{{post.type}}">{{post.type}}</a></p>
  <div>{{{ post.content }}}</div>
  <div>Tags:
    <ul class="tags">
      {{#each post.tags}}
        <li><a href="/tags/{{this._id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>