<div class="post" id="post-{{post._id}}">
  <h1>{{post.title}}</h1>

  <p class="type">
    <a href="/types/{{post.type}}" title="More {{post.type}} posts">
      <i class="icon-notebook icons"></i> {{post.type}}
    </a>
  </p>

  {{> tags tags=post.tags }}

  {{> share post=post }}

  <div>{{{ post.content }}}</div>

  <p><a href="/posts/{{post._id}}/edit"><i class="icon-note icons"></i> Edit</a></p>
</div>